body {
  font-family: "Geneva";
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #454b51;
  font-size: 26px;
}
h3 {
  color: #454b51;
  font-size: 23px;
}
form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input[type="search"] {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #dadde1;
}

input[type="submit"] {
  padding: 2px 25px;
  margin-left: 3px;
  background-color: #ffff;
  color: #7f868a;
  border: 1px solid #7f868a;
  border-radius: 7px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7f868a;
  color: #ffff;
}
.Results {
  color: #7f868a;
}
